# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Attention:
#   Only " ;" can start an inline comment.
#   This is: blank PLUS semicolon!
#
# #####

[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'

project     = Twig for TYPO3
version     = 0.0.0
release     = 0.0.0
t3author    = comwrap GmbH
copyright   = 2017

description = Twig for TYPO3 is an extension that provides the Twig template engine system to
    the TYPO3 eco system. It allows to use Twig templates in TypoScript, in Extbase controllers or
    in any other PHP based method.

[html_theme_options]

; for theme t3SphinxThemeRtd

# NOTE: Fill in YOUR values in the following!

github_branch        = master
github_commit_hash   =
github_repository    = comwrap/typo3-twig_for_typo3
github_revision_msg  =
github_sphinx_locale =
project_contact      = opensource@comwrap.com
project_discussions  = https://github.com/comwrap/typo3-twig_for_typo3/issues
project_home         = https://github.com/comwrap/typo3-twig_for_typo3
project_issues       = https://github.com/comwrap/typo3-twig_for_typo3/issues
project_repository   = https://github.com/comwrap/typo3-twig_for_typo3
use_opensearch       =


[intersphinx_mapping]

; Comment out what you don't use.
; Uncomment only what you actually use in crossreferencing!

# t3api         = https://typo3.org/api/typo3cms/
# t3cgl         = https://docs.typo3.org/typo3cms/CodingGuidelinesReference/
# t3coreapi     = https://docs.typo3.org/typo3cms/CoreApiReference/
# t3editors     = https://docs.typo3.org/typo3cms/EditorsTutorial/
# t3extbasebook = https://docs.typo3.org/typo3cms/ExtbaseFluidBook/
# t3fal         = https://docs.typo3.org/typo3cms/FileAbstractionLayerReference/
# t3inside      = https://docs.typo3.org/typo3cms/InsideTypo3Reference/
# t3install     = https://docs.typo3.org/typo3cms/InstallationGuide/
# t3l10n        = https://docs.typo3.org/typo3cms/FrontendLocalizationGuide/
# t3security    = https://docs.typo3.org/typo3cms/SecurityGuide/
# t3services    = https://docs.typo3.org/typo3cms/Typo3ServicesReference/
# t3skinning    = https://docs.typo3.org/typo3cms/SkinningReference/
# t3start       = https://docs.typo3.org/typo3cms/GettingStartedTutorial/
# t3tca         = https://docs.typo3.org/typo3cms/TCAReference/
# t3templating  = https://docs.typo3.org/typo3cms/TemplatingTutorial/
# t3ts45        = https://docs.typo3.org/typo3cms/TyposcriptIn45MinutesTutorial/
# t3tsconfig    = https://docs.typo3.org/typo3cms/TSconfigReference/
t3tsref       = https://docs.typo3.org/typo3cms/TyposcriptReference/
# t3tssyntax    = https://docs.typo3.org/typo3cms/TyposcriptSyntaxReference/


# Tip: Compare this file with the latest version of the reference file
#      https://github.com/marble/typo3-docs-typo3-org-resources/blob/master/userroot/scripts/bin/conf-2015-10.Reference.Settings.cfg
